{% extends 'layout.html.twig' %}

{% block title %}Add Item{% endblock %}

{% block content %}
    <p>Ajouter un mushi-bushi</p>
<form action="" method="POST">
    <p><input type="text" name="title"></p>
    <p><input type="submit" name="submit" value="Tchéké-boom"></p>
</form>
    <p><a href="/">Retour à la liste des mushi-bushi</a></p>
{% endblock %}