{% extends 'layout.html.twig' %}

{% block title %}Edit Item{% endblock %}

{% block content %}
    <form method="POST">
        <p>Modifiez le titre de cet item</p>
        <p><input type="text" name="title" value="{{ item.title }}"></p>
        <p><input type="submit" name="submit" value="Tchéké-boom"></p>
    </form>

    <a href="/">Annuler et revenir aux mushi-bushis</a>
{% endblock %}