{% extends 'layout.html.twig' %}

{% block title %}All items{% endblock %}
{% block content %}
    <section>
        <h1>Items</h1>
        <ul>
        {% for item in items %}
            <li><a href="/item/{{ item.id }}">{{ item.title }}</a> <a href="/item/edit/{{ item.id }}" style="color: green">Editer </a><a href="/item/delete/{{ item.id }}" style="color: #ff4513"> Supprimer</a></li>
        {% endfor %}
        </ul>
        <p><a href="/item/add/">Ajouter un mushi-bushi</a></p><br>
        <p><a href="/categories">Voir les categories</a></p>
    </section>
{% endblock %}


